*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBC02D;
    --light-text:#fff;
    --hover-color: rgb(212, 165, 46);
}

body{
    overflow: scroll;
    font-family: Thasadith, sans-serif;
}

body::-webkit-scrollbar { width: 0 !important };

body { overflow: -moz-scrollbars-none; }


/* INFO PAGE */

#container-info{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh;
    grid-auto-rows: 30vh;
}

#container-info nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    grid-column: 1/span 2;
    background-color: var(--primary-color);
}

#filter-info{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column: 1/span 2;
    background-color: var(--primary-color);
    text-align: center;
}

#filter-info h2{
    color: #fff;
    font-weight: bold;
    grid-column: 1/ span 2;
}

#info-abelhas{
    grid-column: 1;
    border-radius: 35px 35px 0 0;
}

#info-flores{
    grid-column: 2;
    border-radius: 35px 35px 0 0;
}

#filter-info a{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color:#fff;
}

.active-info-div{
    background-color: #fff !important;
    color: var(--primary-color) !important;
}


#info-abelhas, #info-flores{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.info-slot{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 70%;
    width: 90%;
    height: 90%;
    border: 0.3vw solid grey;
    border-radius: 5vw;
    grid-column: 1/span 2;
    margin: 2vh auto;
}

.info-title{
    font-weight: bold;
    text-align: center;
    margin: 2%;
    font-size: 1.4rem;
}

.info-content{
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-img{
    width: 90%;
    height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 2vw;
}

.info-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.info-text{
    width:90%;
    height: 90%;
    overflow:  hidden;
    font-size: 1.1rem;
}

.info-text p{    
    text-overflow: ellipsis;

    width:90%;
}

#topo-btn{
    display:grid;
    background-color: var(--primary-color);
    position: sticky;
    bottom: 0;
    height: 6vh;
    margin-top: 10vh;
    grid-column: 1/span 2;
    align-items: center;
    justify-items: center;
}

#topo-btn a{
    text-decoration: none;
    color: #fff; 
    font-size: 1.3rem;
    font-weight: bold;
}

/* INFO DETAILS */

#container-info-details{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 15vh 75vh;
}

#container-info-details nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--primary-color);
}

#title-info{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-align:center;
}

#info-detail-content{
    padding-top: -10vh;
    margin: -20vh 5vh 7vh 5vh;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

/* REGISTAR CAMPO */

#field-regist-container{
    display: grid;
    grid-template-rows: 32vh 41vh 20vh 7vh; 
}

#fr-title{
    background-color: var(--primary-color);
    border-radius: 0 0 2vh 2vh;
}

#fr-title div{
    width: 60%;
    text-align: center;
    color: #fff;
    padding-top: 5%;
    margin: auto;
}

#fr-title div h1{
    width: 100%;
}

#fr-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fr-form form{
    width: 80%;
}

#fr-form form input,
#fr-form form textarea,
#fr-form form select{
    padding: 1vh;
    width: 100%;
    margin: 1vh 0;
    background-color: lightgrey;
    border: none;
    height: 6vh;
    border-radius: 2vh;
}

#register-content{
    padding-top: -10vh;
    margin: -14vh 5vh 7vh 5vh;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
    background-color: #fff;
    display: grid;
}

#zip-localidade{
    display: grid;
    grid-template-columns: 50% 50%;
}

#zip-localidade input:last-child{
   width: 97% !important; 
   justify-self: end;
}

#zip-localidade input:first-child{
    width: 97% !important; 
    justify-self: start;
}

#warning-register{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
}

#ast{
    color: red;
}

#public-warning{
    font-family: Roboto, sans-serif;

}
/* EDITAR PERFIL */

#edit-photo{
    top: 19% !important;
    left: 55% !important;
    z-index: 2;
}


/* MEDIA QUERIES */

@media (min-width: 600px){
    .info-slot{
        grid-column: unset;
    }

    #edit-photo{
        top: 40% !important;
        left: 29% !important;
    }
}

@media (min-width: 1024px){
   #container-info{
        grid-auto-rows: 45vh;
   }

   #edit-photo{
        top: 34% !important;
        left: 30% !important;
    }

    #field-regist-container{
        display: grid;
        grid-template-rows: 32vh 46vh 15vh 7vh; 
    }

    #fr-title-div{
        padding-top: 3%;
    }

    #register-content{
        margin: -14vh 16vh 7vh 16vh;
    }
}

