*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBC02D;
    --light-text:#fff;
    --hover-color: rgb(212, 165, 46);
}

body{
    overflow: scroll;
    font-family: Thasadith, sans-serif;
}

/* Utility */

.form-input{
    border-radius: 15px;
    border: none;
    background-color: #fff;
}

.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2%;
}

.highlight-text{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.highlight-text:hover{
    color: var(--hover-color);
    cursor: pointer;
}

.filter-active{
    background-color: var(--primary-color);
    padding: 1.5vw;
    border-radius: 3vw;
    color: #fff !important;
}

.produto-span-2{
    grid-row: span 2;
    overflow: hidden;
}

.produto-span-2 img{
    height: 100% !important;
    width: auto !important; 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* Loading */


#container-loading{
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

#logo-loading img{
    width:50vw;
}


/* Welcome */
#welcome-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 45vh 55vh; 
    background-image: url(img/fundo_login.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    justify-items: center;
}

#welcome-text{
    display: grid;
}

#welcome-logo{
    align-self: start;
    text-align: center;
}

#welcome-logo img{
    width: 40%;
    margin-top: 8%;
}

#welcome-title{
    color: white;
    align-self: end;
    text-align: center;
}

#welcome-title h1{
    font-weight: 700;
    font-size: 10vw;
    color: var(--primary-color);
}

#welcome-title h3{
    font-size: 6vw;
}

#welcome-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#welcome-buttons button{
    width: 85%;
    padding: 4.5%;
    margin-top: 4%;
    align-self: center;
    display: block;
    border-radius: 20px;
    border: none;
    opacity: 0.85;
    font-size: 90%; 
}

.btn-secondary{
    color: black;
    font-weight: bold;
    background-color: #fff;
}


/* Register */

#register-container{
    display: grid;
    background-image: url("img/fundo_login.png");
    height: 100vh;
    background-size: cover;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 65vh 15vh;
}

#upper-text{
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding:5%;
}

#upper-text img{
    width: 40%;
}

#upper-text div h1{
    padding:5% 0;
    font-weight: 700;
    font-size: 10vw;
    color: var(--primary-color);
}

#register-form input,
#register-form select,
#register-form button{
    display: block;
    margin: auto;
    width: 85%;
    padding: 4.5%;
    margin-top: 4%;
    border-radius: 20px;
    border: none;
    opacity: 0.85;
    font-size: 85%;
}

#register-form select{
    background-color: #fff;
}

#register-form input:focus,
#register-form select:focus,
#register-form button:focus{
    outline: none;
}

#register-form button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

#register-form{
    display: grid;
    align-items: center;
    color: #fff;
    padding-top: 8%;
    text-align: center; 
}

#register-form input[type="checkbox"]{
    display: inline;
    width: auto;
    margin-right: 2%;
}

#inline-terms{
    display: inline;
}

#register-form form{
    text-align: center;
}

#checkbox-container{
    text-align: center;
    width: 85%;
    margin: auto;
}

#login-option-container{
    display: grid;
    align-items: center;
    color: #fff;
    text-align: center;
}

/* Login */

#login-container{
    display: grid;
    background-image: url("img/fundo_login.png");
    height: 100vh;
    background-size: cover;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 65vh 15vh;
}

#upper-login-text{
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding:5%;
}

#upper-login-text img{
    width: 40%;
}

#upper-login-text div h1{
    padding:5% 0;
    font-weight: 700;
    font-size: 10vw;
    color: var(--primary-color);
}

#login-form{
    margin-top: 10%;
}

#login-form form{
    text-align: center;
    display: grid;
    align-items: center;
}

#login-form input,
#login-form button{
    display: block;
    margin: auto;
    width: 85%;
    padding: 4.5%;
    margin-top: 4%;
    border-radius: 20px;
    border: none;
    opacity: 0.85;
    font-size: 85%;
}

#login-form input:focus{
    outline:none;
}

#register-option-container{
    display: grid;
    align-items: center;
    color: #fff;
    text-align: center;
}

/* perfil */
#profile-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 40vh 60vh;
}

#profile-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70% 30%;
}

#profile #profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

#profile #profile-img img{
    border-radius: 100%;
    width: 50%;
    border: var(--primary-color) solid 1vh;
}

#profile-img h3{
    font-weight: 700;
}

#stats-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30vw;
}

#beeopoints{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#beeopoints img{
    width: 100%;
    margin-bottom: 1vh;
}

#campos{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#campos img{
    width: 100%;
    margin-bottom: 1vh;
}

#campos-container{
    display: grid;
    grid-auto-rows: 13vh;
    margin-top: 2vh;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    justify-items: center;
    overflow: scroll;
    padding-bottom: 13vh;
}

#campos-container::-webkit-scrollbar { width: 0 !important };

#campos-container { overflow: -moz-scrollbars-none; }

#campos-container h1{
    margin-top: 3vh;
}

.campo{
    display: grid;
    background-color: #fff;
    width: 90vw;
    border-radius: 3vh;
    grid-template-rows: 50% 50%;
    color: black;
    padding: 0 5%;
    margin-bottom: 1vh;
}

.campo #upper-campo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--primary-color) solid 0.5vh;
}

.campo #lower-campo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#lower-campo div:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lower-campo div:first-child i{
    margin-right: 0.5vh;
}

#lower-campo div:last-child img{
    height: 60%;
}

#lower-campo div:last-child p{
    margin-right: 0.5vh;
}

#lower-campo div:last-child{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}


/* Loja */
#container-loja{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh auto 8vh;
    grid-auto-rows: 50vw;
}

#container-loja nav{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav #shopping-cart{
    margin-right: 2vh;
}

#showcase-image{
    width: 100%;
    height: 100%;
}

#showcase-image img{
    width: 100%;
    height: 100%;
}

#showcase-store{
    grid-column: 1 / span 2;
}

#filter-store{
    width: 100vw;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vh;
    font-size: 2.8vh;
    font-weight: bold;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

#filter-store::-webkit-scrollbar { width: 0 !important };

#filter-store { overflow: -moz-scrollbars-none; }


#filter-store a{
    margin-right: 5vh; 
    color: black;
    text-decoration: none;
}

#filter-store i{
    position: absolute;
    right: 1vh;
    color: grey;
    opacity: 0.7;
}

.produto{
    overflow: hidden;
    text-align: center;
    border-radius: 3vh;
    margin: 1vh;
    position: relative;
}


.produto img{
    width: 100%;
    height: 100%; 
}

#nav-lg{
    display: none;
}

#logo-store{
    display: none;
}

/* Product Page */
#product-details-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 60vh;
    overflow: scroll !important;
}

#product-details-container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#store-product-image{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 40vh 15vh;
    overflow: hidden;
}

#store-product-image #showcase-product-detail img{
    height: auto !important;
    width: 100% !important; 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#showcase-product-detail{
    position: relative;
    overflow: hidden;
    margin: 2vh;
    border-radius: 5vh;
}

#store-product-image #showcase-product-detail i:first-child{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 1;
    color: grey;
}

#store-product-image #showcase-product-detail i:nth-child(2){
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 1;
    color: grey;
}

#store-product-image #details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#store-product-image #details div img{
    width: 100%;
    height: 100%;
    padding: 1vh;
    border-radius: 3vh;
}

#detail-store-1{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 1vh;
    border-radius: 2vh;
}

#detail-store-1 img{
    height: 110% !important;
    width: auto !important; 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#store-product-info div:first-child h2{
    max-width: 80%;
}

#store-product-info p{
    margin: 0 1.5vw;
}

#store-product-info ul{
    text-align: center;
    margin-top: 4vh;
    padding: 0 4vw;
}

#store-product-info ul li{
    padding: 0.5vh;
    list-style: none;
}

#store-product-info ul li:nth-child(1),
#store-product-info ul li:nth-child(2){
    border-bottom: var(--primary-color) solid 0.3vh;
}

#flex-description{
    display: flex;
    flex-direction: row;
    margin: 0 2vh;
    justify-content: space-between;
}

#store-product-info #similar-title,
#store-product-info p{
    margin: 0 2vh;
}

#store-product-info #similar-title{
    margin-top: 4vh;
}

#similar-products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#similar-products .similar{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 1vh;
    border-radius: 2vh;
    height: 13vh;
}

#similar-products .similar img{
    height: 110% !important;
    width: auto !important;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#add-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    height: 8vh;
}

/* MEDIA QUERIES */

/* tablet */

@media (min-width: 600px) {

    /* Loading */

    #logo-loading{
        width:40vw;
    }

    /* Welcome */

    #welcome-container{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 100vh;
    }

    #welcome-title h1{
        font-size: 5vw;
    }
    #welcome-title h3{
        font-size: 3vw;
    }

    #welcome-title{
        align-self: start;
    }

    #welcome-logo{
        align-self: end;
    }

    #welcome-buttons{
        align-self: center;
    }

    #welcome-buttons button{
        border-radius: 40px;
    }

    /* register */

    #register-container{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 80vh 20vh;
    }

    #upper-text div h1{
        font-size: 5vw;
    }

    #register-form{
        grid-row: 1 / span 2;
        padding: 4%;
    }

    #register-form input,
    #register-form select,
    #register-form button{
        border-radius: 40px;
    }
    

    /* Login */

    #login-container{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 80vh 20vh;
    }

    #upper-login-text div h1{
        font-size: 5vw;
    }

    #login-form{
        margin: 0;
        grid-row: 1 / span 2;
        padding: 0 4%;
        display: grid;
        align-items: center;
    }

    #login-form input, #login-form button{
        border-radius: 40px;
    }

    /* Store */

    .produto-span-2{
        grid-row: span 2;
        grid-column: span 2;
        overflow: hidden;
    }
    
    #container-loja{
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: 10vh 60vh 20vh;
        grid-auto-rows: 25vw;
    }

    #container-loja nav{
        grid-column: 1/span 4;
    }

    #showcase-store{
        position: relative;
        grid-column: 1 / span 4;
        overflow: hidden;
    }

    #showcase-store img{
        height: auto!important;
        width: 100% !important; 
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    #filter-store{
        grid-column: 1/span 4;
    }

    #filter-store a {
        color: black;
        text-decoration: none;
        font-size: 3vw;
        align-self: center;
    }

    #nav-lg{
        display: none;
    }

    #logo-store{
        display: none;
    }

    /* Product */
    #store-product-image{
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 45vh;
    }

    #store-product-image #details{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 1vh;
    }

}


/* computador */
@media (min-width: 1025px) {
    nav {
        background-color: var(--primary-color);
        padding: 3vh;
    }

    body::-webkit-scrollbar { width: 0 !important };

    body { overflow: -moz-scrollbars-none; }

    #container-loja nav{
        background-color: var(--primary-color);
        border-radius: 0 0 2vh 2vh;
    }

    #logo-store{
        display: inline;
        justify-self: flex-start;
        align-self: center;
        width: 13vw;
    }

    #logo-store img{
        width: 100%;
        height: auto;
        margin-left: 3vh;
    }

    #nav-lg{
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    
    #nav-lg a{
        text-decoration: none;
        font-size: 3vh;
        color: #fff;
        font-weight: bold;
    }

    #ham-phone{
        display: none;
    }
    
    .produto-span-2{
        grid-row: span 2;
        grid-column: span 2;
        overflow: hidden;
    }
    
    #container-loja{
        grid-template-columns: repeat(8, 12.5vw);
        grid-template-rows: 10vh 80vh;
        grid-auto-rows: 12.5vw;
    }

    #container-loja nav{
        grid-column: 1 / span 8;
    }

    #filter-store{
        grid-row-start: 2;
        width: 37.5vw;
        grid-column: 1 / span 2;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10vh;
    }

    #filter-store a {
        text-decoration: none;
        color: black;
        font-size: 1.5vw;
        padding: 3vh;
        width: 100%;
        margin-left: 5vh;
        text-align: center;
    }

    #showcase-store{
        position: relative;
        grid-column: 4 / span 6;
        overflow: hidden;
        margin-bottom: 10vh;
        margin: 3vh;
        border-radius: 5vh;
        margin-right: 5vh;
    }

    #showcase-store img{
        height: auto!important;
        width: 100% !important; 
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        border-radius: 5vh;
    }

    #filter-store i{
        display: none;
    }

    #shopping-cart i{
        margin-right: 3vh;
        color: white;
    }

    /* Perfil */
    #profile-container{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 10vh 90vh;
    }

    #profile-container nav{
        grid-column: 1 / span 2;
        display: flex;
    }

    #profile{
        grid-template-columns: 50vw;
        grid-template-rows: 50% 50%;
    }

    #profile #profile-img{
        width: 50vw;
    }

    #profile #stats-field{
        padding: 10vw;
    }

    #campos-container{
        margin-top: 0;
        border-radius: 0;
    }

    .campo{
        width: 45vw;
    }

    /* Product */
    #store-product-image{
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 70vh;
    }

    #store-product-image #details{
        display: grid;
        grid-template-columns: 20vw 20vw;
        padding: 1vh;
    }

    #product-details-container{
        grid-template-rows: 10vh 70vh;
    }

    #similar-products .similar{
        height: 30vh;
    }

    #similar-products .similar img{
        width: 100% !important;
        height: auto !important;
    }

    #product-details-container::-webkit-scrollbar { width: 0 !important };

    #product-details-container { overflow: -moz-scrollbars-none; }
}
