*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBC02D;
    --light-text:#fff;
    --hover-color: rgb(212, 165, 46);
}

body{
    overflow: scroll;
    font-family: Thasadith, sans-serif;
}

body::-webkit-scrollbar { width: 0 !important };

body { overflow: -moz-scrollbars-none; }


/* INFO PAGE */

#container-info{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh;
    grid-auto-rows: 30vh;
    scroll-behavior: smooth;
}

#container-info nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    grid-column: 1/span 2;
    background-color: var(--primary-color); 
    color: #fff !important;
}

.info-more{
    text-decoration: none;
    color:#000;
}

#filter-info{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column: 1/span 2;
    background-color: var(--primary-color);
    text-align: center;
}

#filter-info h2{
    color: #fff;
    font-weight: bold;
    grid-column: 1/ span 2;
}

#info-abelhas{
    grid-column: 1;
    border-radius: 35px 35px 0 0;
}

#info-flores{
    grid-column: 2;
    border-radius: 35px 35px 0 0;
}

#filter-info a{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color:#fff;
}

.active-info-div{
    background-color: #fff !important;
    color: var(--primary-color) !important;
}


#info-abelhas, #info-flores{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.info-slot{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 70%;
    width: 90%;
    height: 90%;
    border: 0.3vw solid grey;
    border-radius: 5vw;
    margin: 2vh auto;
}

.info-more{
    display: grid;
    grid-column: 1/span 2;
}

.info-title{
    font-weight: bold;
    text-align: center;
    margin: 2%;
    font-size: 1.4rem;
}

.info-content{
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-img{
    width: 90%;
    height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 2vw;
}

.info-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.info-text{
    width:90%;
    height: 90%;
    overflow:  hidden;
    font-size: 1.1rem;
}

.info-text p{    
    text-overflow: ellipsis;
    width:90%;
}

#topo-btn{
    display:grid;
    background-color: var(--primary-color);
    position: sticky;
    bottom: 0;
    height: 6vh;
    margin-top: 10vh;
    grid-column: 1/span 2;
    align-items: center;
    justify-items: center;
}

#topo-btn a{
    text-decoration: none;
    color: #fff; 
    font-size: 1.3rem;
    font-weight: bold;
}

/* INFO DETAILS */

#container-info-details{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 20vh 70vh;
}

#container-info-details nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--primary-color);
}

#title-info{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    text-align:center;
    border-radius: 0 0 2vh 2vh;
}

#title-info h2{
    margin-top: -3vh;
}

#info-detail-content{
    padding-top: -10vh;
    margin: -15vh 5vh 7vh 5vh;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    justify-items: center;
    overflow:hidden;
}

#info-detail-img{
    margin-top: 3vh;
    width: 90%;
    /* height: 90%; */
    overflow: hidden;
    position: relative;
    border-radius: 2vw;
}

#info-detail-img img{
    position: absolute;
    height: auto !important;
    width: 100%  !important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;   
}

#info-detail-text{
    width: 90%;
    margin-top: 2vh;
    overflow: auto;
    padding-bottom: 2vh;
}



/* REGISTAR CAMPO */

#field-regist-container{
    display: grid;
    grid-template-rows: 32vh 41vh 20vh 7vh; 
}

#fr-title{
    background-color: var(--primary-color);
    border-radius: 0 0 2vh 2vh;
}

#fr-title div{
    width: 60%;
    text-align: center;
    color: #fff;
    padding-top: 5%;
    margin: auto;
}

#fr-title div h1{
    width: 100%;
}

#fr-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fr-form form{
    width: 80%;
}

#fr-form form input,
#fr-form form textarea,
#fr-form form select{
    padding: 1vh;
    width: 100%;
    margin: 1vh 0;
    background-color: lightgrey;
    border: none;
    height: 6vh;
    border-radius: 2vh;
}

#register-content{
    padding-top: -10vh;
    margin: -8vh 5vh 7vh 5vh;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
    background-color: #fff;
    display: grid;
}

#zip-localidade{
    display: grid;
    grid-template-columns: 50% 50%;
}

#zip-localidade input:last-child{
   width: 97% !important; 
   justify-self: end;
}

#zip-localidade input:first-child{
    width: 97% !important; 
    justify-self: start;
}

#warning-register{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
}

#ast{
    color: red;
}

#public-warning{
    font-family: Roboto, sans-serif;

}
/* EDITAR PERFIL */

#edit-photo{
    top: 19% !important;
    left: 55% !important;
    z-index: 2;
}

/* CHAT */

#chat-container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 13vh 78vh 10vh;
}

#top-chat-content a{
    text-decoration:none;
    color:#fff;
}

#top-chat{
    background-color: var(--primary-color);
}

#top-chat-content{
    color:#fff;
    width:90%;
    height:100%;
    font-size: 1.4rem;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
}

#top-chat-content img{
    height:6vh;
    border-radius: 40vh;
    border: 0.2vh solid #fff;
}

#chat-content{
    overflow:scroll;
    margin:2vh 2vh;
}

.recieve-msg{
    width:100%;
    height:auto;
    margin: 2vh 0;
    display:inline-block;
}

.recieve-msg-content{
    display: flex;
    flex-direction:row;
    align-items:center;
    float:left;
}

.recieve-msg img{
    height:6vh;
    border-radius:40vh;   
}

.recieve-msg-txt{
    max-width:60vw;
    color: #000;
    background-color: #e1e1e1;
    border-radius: 5vw;
    padding:2vh;
    margin: 0 2vh;
    overflow-wrap:break-word;
}

.sent-msg{
    width:100%;
    height:auto;
    margin: 2vh 0;
    display:inline-block;
}

.sent-msg-content{
    display: flex;
    flex-direction:row;
    align-items:center;
    float:right;
}

.sent-msg-txt{
    max-width: 60vw;
    color:#fff;
    background-color: var(--primary-color);
    border-radius:5vw;
    padding:2vh;
    margin:0 2vh;
    overflow-wrap:break-word;
}

#chat-bottom{
    width:95%;
    border-top: 0.5vh solid #f4f4f4;
    margin:1vh auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

#chat-bottom textarea{
    font-family: Thasadith, sans-serif;
    border:none;
    overflow:scroll;
    font-size:1.2rem;
    height: 2em;
    width: 20em;
}

#chat-bottom textarea::-webkit-scrollbar { width: 0 !important };
#chat-content::-webkit-scrollbar { width: 0 !important };
#chat-content { overflow: -moz-scrollbars-none; }


#chat-bottom i{
    font-size:1.7rem;
    margin:0 0.5vh;
    color:grey !important;
}

/* Chat List */

#chat-list-container{
    display: grid;
    grid-auto-rows: 12vh;
}

#chat-list-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: gray 0.1vh solid;
    background-color: var(--primary-color);
}

#chat-list-top h2{
    color: #fff;
}

#chat-list-img-container{
    overflow: hidden;
    position: relative;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    margin: 0 2vh;
}

#chat-list-top i{
    margin: 0 2vh;
    color: #fff;
}

#chat-list-img-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#chat-list-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-list-search form{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 70% 10%;
    grid-template-rows: 50%;
    border-radius: 3vh;
}

#chat-list-search form input,
#chat-list-search form button{
    height: 100%;
    width: 100%;
    border: 0.1vh var(--primary-color) solid;
}

#chat-list-search form button{
    background-color: var(--primary-color);
    color: #fff;
}

.chat-person{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-content: center;
    padding: 1.5vh 0;
}

.chat-person-img-container{
    overflow: hidden;
    position: relative;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin: 0 2vh;
}

.chat-person-img-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.chat-person-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    justify-content: center;
}

.chat-person-text-container h4{
    color: gray;
}

.chat-person-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0;
}



/* MEDIA QUERIES-------------------------------------- ------------------------*/

@media (min-width: 600px){
    .info-more{
        grid-column: unset;
    }

    #edit-photo{
        top: 40% !important;
        left: 29% !important;
    }

    #top-chat-content{
        width: 80%;
        font-size:2rem;
    }

    #top-chat-content img{
        height:10vh;
        border-radius: 40vh;
        border: 0.3vh solid #fff;
    }

    .recieve-msg img{
        height:10vh;
    }

    .recieve-msg-txt{
        font-size:1.3rem;
        padding: 4vh;
    }

    .sent-msg img{
        height:10vh;
    }

    .sent-msg-txt{
        font-size:1.3rem;
        padding: 4vh;
    }

    #chat-bottom textarea{
        height:2em;
        width:38em;
    }

    #chat-bottom i{
        color:grey;
        font-size:1.8rem;
    }

}

@media (min-width: 1024px){
   #container-info{
        grid-auto-rows: 45vh;
   }

   #edit-photo{
        top: 34% !important;
        left: 30% !important;
    }

    #field-regist-container{
        display: grid;
        grid-template-rows: 32vh 46vh 15vh 7vh; 
    }

    #fr-title-div{
        padding-top: 3%;
    }

    #register-content{
        margin: -9vh 16vh 7vh 16vh;
    }

    #title-info h2{
        margin-top: 0vh;
    }

    #info-detail-content{
        margin: -10vh 5vh 7vh 5vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    #info-detail-img{
        margin-top: 4vh;
        height: 90%;
    }

    #info-detail-img img{
        height: 100% !important;
        width: auto;
    }

    #info-detail-text{
        margin-top: 4vh;
    }

    #info-detail-text p{
        font-size: 1.3rem;
    }

    #chat-container{
        display:grid;
        grid-template-columns: 30vw 70vw;
        grid-template-rows: 100vh;
    }

    #top-chat{
        position:relative;
    }

    #top-chat-content i{
        position:absolute;
        top:5vh;
        font-size:2.5rem;
        text-align:center;
    }

    #back-chat-btn{
        left:5%;
    }

    #top-chat-content img{
        margin:-5vh auto;
        height:30vh;
    }

    #top-chat-content p{
        position:absolute;
        top:70%;
        width:80%;
        text-align:center;
    }

    #chat-content{
        height:88vh;
    }

    .recieve-msg-txt{
        max-width:32vw;
    }

    .sent-msg-txt{
        max-width:32vw;
    }

    #chat-bottom{
        grid-column:2;
        margin-top:-10vh;
    }

    #chat-bottom textarea{
        height:2em;
        width:23em;
    }

    #chat-bottom i{
        color:grey;
    }
    
    .chat-person{
        grid-template-columns: 6% 74% 20%;
    }

    .chat-person-info-container{
        align-items: flex-end;
        margin-right: 4vh;
    }
}

