*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBC02D;
    --light-text:#fff;
    --hover-color: rgb(212, 165, 46);
}

body{
    overflow: scroll;
    font-family: Thasadith, sans-serif;
}

body::-webkit-scrollbar { width: 0 !important };

body { overflow: -moz-scrollbars-none; }

.body-overflow-modal{
    overflow: hidden !important;
}

/* Cart */

#cart-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh;
    background-color: var(--primary-color);
    text-align: center;
    justify-items: center;
    border-radius: 0 0 3vh 3vh;
}

#cart-container h1{
    color: #fff;
    margin-top: 5vh;
}

#cart-products{
    display: grid;
    grid-auto-rows: 13vh;
    width: 80%;
    background-color: #fff;
    margin-bottom: -7vh;
    margin-top: 4vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    padding-top: 2vh;
}

.product-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vh;
}

.cart-products-img-container{
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    position: relative;
    margin-left: 2vh;
    border-radius: 1.5vh;
}

.cart-products-img-container img{
    height: 100% !important;
    width: auto !important; 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.product-cart-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    text-align: start;
    margin-left: 2vh;
}

.line{
    display: grid;
    grid-template-rows: 50% 50%;
}

.dotted-line{
    justify-self: center;
    width: 90%;
    border-bottom: dotted 3px darkgrey;
}

.product-cart-info h3{
    overflow: hidden;
}

#price-pay{
    margin-top: 10vh;
    width: 80%;
    margin-left: 10%;
    justify-self: center;
    display: grid;
    grid-template-rows: 5vh;
}

#price-pay-info{
    display: grid;
    grid-auto-rows: 7vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    background-color: #fff;
}

.product-buy,
.portes-envio,
.iva{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
}

#total{
    margin-top: 10vh;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 5vh;
}

#total-info{
    display: grid;
    grid-auto-rows: 7vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    background-color: #fff;
}

.total-buy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
}

.product-cart-info h3{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 80%;
}

.product-buy h3{
    white-space: nowrap; 
    text-overflow: clip; 
    width: 65%;
}

#buy-btn{
    display: grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 7vh;
    margin-top: 10vh;
    position: sticky;
    bottom: 0;
}

#buy-btn div{
    padding-top: 1.1vh;
    text-align: center;
    align-items: center;
}

#buy-btn div:first-child{
    background-color: grey;
    color: #fff;
}

#buy-btn div:last-child{
    background-color: var(--primary-color);
    color: #fff;
}

/* Ranking */

#ranking-container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ranking-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 33.33vw;
}

#top-three{
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
}

#top-three div{
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#top-three div:nth-child(1){
    margin: 20%;
}

#top-three div:nth-child(3){
    margin: 13%;
}

#top-three div img{
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    width: auto !important;
    height: 100% !important;
}

#top-beeofriends{
    border-radius: 5vh 5vh 0 0;
    margin-top: -10vh;
    justify-content: center;
    background-color: #FBC02D;
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 100vw;
    padding-bottom: 5vh;
}

#top-beeofriends-title{
    display: flex;
    align-items: flex-end;
    color: #fff;
    border-bottom: #fff solid 0.5vh;
    justify-content: center;
    margin: 0 4vw;
    margin-bottom: 3vh;
}

#h1-title{
    padding-top: 10%;
}

.ranking-spot{
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin: 0.7vh 4vw;
    border-radius: 3vh;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ranking-num{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: var(--primary-color) 0.4vh solid;
    margin: 7% 0;
}

.ranking-name{
    display: grid;
    grid-template-rows: 50% 50%;
}

.ranking-name div:first-child{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.ranking-name div:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}

.ranking-name div:nth-child(2) img{
    width: 10%;
    margin-left: 5%;
}

.ranking-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking-foto img{
    border-radius: 50%;
    width: 75%;
    border: #fff 0.3vh solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Map */

#map-container{
    width: 100vw;
    height: 100vh;
}

#map-map{
    width: 100%;
    height: 100%;
}

#navbar-container-map{
    height: 10vh;
}

#navbar-container-map nav{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#marker-info{
    display: none;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 50vh;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#marker-info-details{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 100%;
    background-color: var(--primary-color);
    border-radius: 5vh 5vh 0 0;
}

#marker-details-img-container{
    position: relative;
    overflow: hidden;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    border: #fff solid 1vh;
    padding-top: -8vh;
}

#marker-details-img-container img{
    height: 100%;
    width: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#marker-details-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8vh;
    color: #fff;
}

#marker-details-title h2{
    margin-top: 2vh;
}

#marker-details-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6vw;
    align-items: center;
    color: #fff;
}

#marker-details-address div:last-child{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#marker-details-address div:last-child img{
    width: 5vh;
}

#marker-plant-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#marker-plant-btn a{
    background-color: #fff;
    padding: 4% 15%;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 5vh;
    width: 90%;
}



/* Profile-edit */

#profile-edit-container{
    display: grid;
    grid-template-rows: 35vh 58vh 7vh;
}

#pe-title{
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: var(--primary-color);
    border-radius: 0 0 2vh 2vh;
}

#pe-title div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pe-title div:first-child h1{
    color: #fff;
}

#pe-edit{
    padding-top: -10vh;
    margin: -20vh 5vh 7vh 5vh;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

#pe-edit-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pe-edit-img div {
    width: 25vw;
    height: 25vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--primary-color) 0.5vh solid;
}

#pe-edit-img div img{
    height: 100%;
    width: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#pe-edit-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pe-edit-form form{
    width: 80%;
}

#pe-edit-form form input,
#pe-edit-form form textarea,
#pe-edit-form form select{
    padding: 1vh;
    width: 100%;
    margin: 1vh 0;
    background-color: lightgrey;
    border: none;
    height: 6vh;
    border-radius: 2vh;
}

#pe-edit-form form textarea{
    height: 18vh;
    font-family: Thasadith, sans-serif;
}

#profile-edit-submit-btn{
    display: grid;
    grid-template-columns: 50vw 50vw;
    position: sticky;
    bottom: 0;
}

.profile-edit-sbmt{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
}

.profile-edit-sbmt a div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn{
    background-color: #606060;
    color: #fff;
    text-decoration:none;
}

.submit-btn{
    background-color:var(--primary-color);
    color: #fff;
}

#file-label{
    display: none;
}

/* Feed Page */

#feed-page-container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

#feed-page-container{
    display: grid;
    grid-template-rows: 10vh 40vh;
    padding-bottom: 15vh;
}

#feed-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--primary-color);
    padding-bottom: 10vh;
}

#feed-title h1{
    margin-bottom: 1.5vh;
}

#feed-title div{
    height: 20vh;
    width: 20vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: #fff 1vh solid;
}

#feed-title div img{
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

#posts{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    text-align: center;
    grid-auto-rows: auto;
}

#feed-profile-stats{
    margin-top: -7vh;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    height: 14vh;
    border-radius: 5vh;
}

#feed-profile-stats div:first-child{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


#feed-profile-stats div:first-child h3{
    width: 33%;
}

#feed-profile-stats div:last-child{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#feed-profile-stats div:last-child h3{
    width: 33%;
}

.post{
    padding: 3vh 2vh;
    display: grid;
    grid-template-rows: 8vh;
    margin-top: 5vh;
    background-color: #fff;
    box-shadow: 0.1vw 0.2vw 15px #606060;
    border-radius: 5vh;
}

.post-details{
    display: flex;
    flex-direction: row;
}

.post-details div:first-child{
    position: relative;
    overflow: hidden;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}

.post-details div:first-child img{
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

.post-details div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start !important;
    margin-left: 1vh;
}

.post-text{
    text-align: start !important;
}

.post-image{
    position: relative;
    height: 30vh;
    overflow: hidden;
    margin-top: 2vh;
    border-radius: 3vh;
}

.post-image img{
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

#add-post-icon{
    position: sticky;
    bottom: 2vh;
    text-align: center;
}

#add-post-icon i {
    color: var(--primary-color);
}


@media (min-width: 600px){
    /* Profile Edit */
    #pe-edit{
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
    }
}

@media (min-width: 1025px) {
    #posts{
        grid-template-columns: 65%;

    }

    .post-image{
        height: 50vh;
    }

    #top-three{
        grid-template-columns: 24vw 24vw 24vw;
        margin: 0 14vw;
    }

    #ranking-container{
        grid-template-rows: 20vh 24vw;
    }

    #ranking-container nav{
        margin-bottom: 10vh;
    }

    #top-beeofriends{
        grid-auto-rows: 25vh;
        grid-template-rows: none;
    }

    .ranking-foto img{
        width: 40%;
    }

    .ranking-name div:nth-child(2) img{
        width: 5%;
    }

    .ranking-spot{
        border-radius: 8vh;
    }

    #marker-plant-btn a{
        padding: 2% 10%;
        width: 80%;
    }
    
}
