*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FBC02D;
    --light-text:#fff;
    --hover-color: rgb(212, 165, 46);
}

body{
    overflow: scroll;
    font-family: Thasadith, sans-serif;
}

body::-webkit-scrollbar { width: 0 !important };

body { overflow: -moz-scrollbars-none; }
/* Cart */

#cart-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh;
    background-color: var(--primary-color);
    text-align: center;
    justify-items: center;
    border-radius: 0 0 3vh 3vh;
}

#cart-container h1{
    color: #fff;
    margin-top: 5vh;
}

#cart-products{
    display: grid;
    grid-auto-rows: 13vh;
    width: 80%;
    background-color: #fff;
    margin-bottom: -7vh;
    margin-top: 4vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    padding-top: 2vh;
}

.product-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vh;
}

.cart-products-img-container{
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    position: relative;
    margin-left: 2vh;
    border-radius: 1.5vh;
}

.cart-products-img-container img{
    height: 100% !important;
    width: auto !important; 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.product-cart-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    text-align: start;
    margin-left: 2vh;
}

.line{
    display: grid;
    grid-template-rows: 50% 50%;
}

.dotted-line{
    justify-self: center;
    width: 90%;
    border-bottom: dotted 3px darkgrey;
}

.product-cart-info h3{
    overflow: hidden;
}

#price-pay{
    margin-top: 10vh;
    width: 80%;
    margin-left: 10%;
    justify-self: center;
    display: grid;
    grid-template-rows: 5vh;
}

#price-pay-info{
    display: grid;
    grid-auto-rows: 7vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    background-color: #fff;
}

.product-buy,
.portes-envio,
.iva{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
}

#total{
    margin-top: 10vh;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 5vh;
}

#total-info{
    display: grid;
    grid-auto-rows: 7vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3vh;
    background-color: #fff;
}

.total-buy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
}

.product-cart-info h3{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 80%;
}

.product-buy h3{
    white-space: nowrap; 
    text-overflow: clip; 
    width: 65%;
}

#buy-btn{
    display: grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 7vh;
    margin-top: 10vh;
    position: sticky;
    bottom: 0;
}

#buy-btn div{
    padding-top: 1.1vh;
    text-align: center;
    align-items: center;
}

#buy-btn div:first-child{
    background-color: grey;
    color: #fff;
}

#buy-btn div:last-child{
    background-color: var(--primary-color);
    color: #fff;
}